.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.bootstrap-backup/

android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

*.iml
.idea/
.vscode/
