# Copyright  : Copyright (C) 2017 ~ 2035 SupersocksR ORG. All rights reserved.
# Description: PPP PRIVATE NETWORK™ 2 LINUX FAST BUILD SCRIPT with caching.
# Author     : Kyou.
# Date-Time  : 2024/02/13

name: PPP PRIVATE NETWORK™ 2 LINUX FAST BUILD SCRIPT.

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  BOOST_VERSION: 1.86.0
  JEMALLOC_VERSION: 5.3.0
  OPENSSL_VERSION: 3.6.1

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        arch: [amd64]
        platform:
          - linux/amd64

    runs-on: ${{ matrix.os }}
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    steps:
    - name: Checkout openppp2
      uses: actions/checkout@v6
      with:
        repository: rebecca554owen/openppp2
        path: openppp2
        ref: main

    - name: Get number of cpus
      run: echo "ncpu=$(nproc)" >> $GITHUB_ENV

    - name: Set THIRD_PARTY_LIBRARY_DIR environment variables
      run: echo "THIRD_PARTY_LIBRARY_DIR=$GITHUB_WORKSPACE" >> $GITHUB_ENV

    - name: Print environment variables
      run: echo "ncpu:$ncpu, THIRD_PARTY_LIBRARY_DIR:$THIRD_PARTY_LIBRARY_DIR"

    - name: Replace THIRD_PARTY_LIBRARY_DIR in CMakeFiles.txt.
      run: |
        cd openppp2
        sed -i 's/SET(THIRD_PARTY_LIBRARY_DIR \/root\/dev)/SET(THIRD_PARTY_LIBRARY_DIR $ENV{THIRD_PARTY_LIBRARY_DIR})/' CMakeLists.txt

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake autoconf

    - name: Cache Boost
      id: cache-boost
      uses: actions/cache@v5
      with:
        path: boost
        key: ${{ matrix.platform }}-${{ matrix.os }}-boost-${{ env.BOOST_VERSION }}

    - name: Cache Jemalloc
      id: cache-jemalloc
      uses: actions/cache@v5
      with:
        path: jemalloc
        key: ${{ matrix.platform }}-${{ matrix.os }}-jemalloc-${{ env.JEMALLOC_VERSION }}

    - name: Cache OpenSSL
      id: cache-openssl
      uses: actions/cache@v5
      with:
        path: openssl
        key: ${{ matrix.platform }}-${{ matrix.os }}-openssl-${{ env.OPENSSL_VERSION }}

    - name: Build boost
      if: steps.cache-boost.outputs.cache-hit != 'true'
      run: |
        wget https://archives.boost.io/release/${{ env.BOOST_VERSION }}/source/boost_1_86_0.tar.bz2
        tar jxvf boost*.tar.bz2
        rm -rf boost*.tar.bz2
        mv boost* boost
        cd boost
        ./bootstrap.sh
        ./b2 cxxflags=-fPIC

    - name: Build jemalloc
      if: steps.cache-jemalloc.outputs.cache-hit != 'true'
      run: |
        wget https://github.com/jemalloc/jemalloc/releases/download/${{ env.JEMALLOC_VERSION }}/jemalloc-${{ env.JEMALLOC_VERSION }}.tar.bz2
        tar jxvf jemalloc*.tar.bz2
        rm -rf jemalloc*.tar.bz2
        mv jemalloc* jemalloc
        cd jemalloc
        ./autogen.sh --with-jemalloc-prefix=je_
        make -j $ncpu

    - name: Build openssl
      if: steps.cache-openssl.outputs.cache-hit != 'true'
      run: |
        wget https://www.openssl.org/source/openssl-${{ env.OPENSSL_VERSION }}.tar.gz
        tar zxvf openssl*.tar.gz
        rm -rf openssl*.tar.gz
        mv openssl* openssl
        cd openssl
        ./Configure
        make -j $ncpu

    - name: Build openppp2
      run: |
        PLATFORM=${{ matrix.platform }}
        PLATFORM=${PLATFORM//\//-}

        cd openppp2
        mkdir -p build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release
        make -j $ncpu
        cd ../bin

        ARTIFACT_NAME=openppp2-$PLATFORM.zip
        zip -r $ARTIFACT_NAME ppp
        echo "ARTIFACT_NAME=$ARTIFACT_NAME" >> $GITHUB_ENV

    - name: Archive openppp2
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ARTIFACT_NAME }}
        path: openppp2/bin/${{ env.ARTIFACT_NAME }}
